:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  flex-wrap: wrap;
  gap: 50px;
}

.table-container {
  position: relative;
  width: 500px;
  height: 250px;
  background-color: var(--background);
  border-radius: 50%;
  border: 2px solid #555;
  margin-right: 20px;
  flex-shrink: 0;
}

.table {
  position: relative;
  width: 500px;
  height: 250px;
  border-radius: 50%;
  background-color: darkgreen;
  border: 2px solid #555;
}

.waitlist-container {
  flex-grow: 1;
  max-width: 500px;
  padding: 20px;
  background-color: var(--background);
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-y: auto;
  height: 300px;
}

.waitlist-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--background);
}

.waitlist-table th, .waitlist-table td {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: var(--background);
}

.waitlist-table th {
  text-align: left;
  background-color: var(--background);
}

.waitlist-table button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--background);
}

.name {
  position: absolute;
  text-align: center;
}

.name button {
  all: unset;
  display: block;
  padding: 5px 10px;
  background-color: var(--background);
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.name button:hover {
  background-color: #555;
  color: white;
}